<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form method="post" action="ok" th:each = "player : ${player}">
        <input hidden type="number" name="Id" th:value = "${player.id}">
        <input type="text" name="Nickname" th:value = "${player.nickname}">
        <input type="text" name="Character" th:value = "${player.character}">
        <input type="number" name="Lvl" th:value = "${player.lvl}">
        <input type="text" name="Guild" th:value = "${player.guild}">
        <button type="submit">Submit</button>

    </form>
    <form method="get" action="cancel">
        <button type="submit">Cancel</button>
    </form>
</body>
</html>