<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body style="padding: 0">
<div class="header" style="position: relative top: 50%; background:rgba(0,0,0,0.4)">
    <button class="btn-lg btn-primary" type="submit" style="position: relative" onclick="window.location.href='/'">Main page</button>
    <button class="btn-lg btn-primary" type="submit" style="position: relative; left: 87%" onclick="window.location.href='/MyPage'">My page</button>
</div>
<div class="alert alert-danger" role="alert" th:if="${nameError}">[[${nameError}]]</div>
    <form method="post" action="ok" th:object="${character}">
        <input hidden type="number" name="id" th:value = "${character.id}">
        <input hidden type="text" name="className" th:value = "${character.className}">
        <input type="text" name="name" th:value = "${character.name}" required="Can't be null" autofocus="" placeholder="Name">
        <input type="number" name="lvl" th:value = "${character.lvl}" required="" autofocus="" placeholder="Level">
        <button type="submit">Change</button>
    </form>
    <button type="button" onclick="window.location.href='/MyPage'">Cancel</button>
</body>
</html>