<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container">
<table width="100%">
    <tr>
        <th>id</th>
        <th>Nickname</th>
        <th>Character</th>
        <th>lvl</th>
        <th>Owner</th>
        <th>Guild</th>
    </tr>
    <tr th:each = "character : ${character}">
        <td th:utext="${character.id}" ></td>
        <td th:utext="${character.name}"></td>
        <td th:utext="${character.className}"></td>
        <td th:utext="${character.lvl}"></td>
        <td th:utext="${character.owner}"></td>
        <td th:utext="${character.owner.guild}"></td>

    </tr>
</table>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:utext="${message}"></div>
<form method="post" action="add">
    <input type="text" name="Nickname" placeholder="Nickname" required="" autofocus="">
    <select name="ClassName" placeholder="Archer" required="" autofocus="">
        <option th:each="characterClass : ${characterClass}" th:utext="${characterClass}"></option>
    </select>
    <input type="number" name="Level" placeholder="Level" required="" autofocus="">
    <button type="submit">Submit</button>
</form>
<form method="post" action="filter">
    <input type="text" name="Nickname" placeholder="Enter nickname">
    <button type="submit">Find</button>
</form>
<form method="post" action="delete">
    <input type="number" name="id" placeholder="Enter id">
    <button type="submit">Delete</button>
</form>
<form method="post" action="change">
    <input type="number" name="id" placeholder="Enter id">
    <button type="submit">Change</button>
</form>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</div>

</body>
</html>