<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body style="padding: 0">
<div class="header" style="position: relative top: 50%; background:rgba(0,0,0,0.4); text-align: center">
    <button class="btn-lg btn-primary" type="submit" style="display: inline-block; float: left" onclick="window.location.href='/'">Main page</button>
    <h1 th:utext="${user.login}" style="display: inline-block"></h1>
    <form th:action="@{/logout}" method="post" style="display: inline-block; float: right">
        <button class="btn-lg btn-primary" type="submit">Sign out</button>
    </form>
    <button class="btn-lg btn-primary" type="submit" style="display: inline-block; float: right" onclick="window.location.href='/MyPage'">My page</button>
</div>
<div class="container">
<table width="100%">
    <tr>
        <th>id</th>
        <th>Nickname</th>
        <th>Character</th>
        <th>lvl</th>
        <th>Owner</th>
        <th>Guild</th>
    </tr>
    <tr th:each = "character : ${character}">
        <td th:utext="${character.id}" ></td>
        <td th:utext="${character.name}"></td>
        <td th:utext="${character.className}"></td>
        <td th:utext="${character.lvl}"></td>
        <td th:utext="${character.owner}"></td>
        <td th:utext="${character.owner.guild}"></td>

    </tr>
</table>
    <div class="alert alert-danger" role="alert" th:if="${message}" th:utext="${message}"></div>
<form method="post" action="filter">
    <input type="text" name="Nickname" placeholder="Enter nickname">
    <button type="submit">Find</button>
</form>
</div>

</body>
</html>